<!-- This is the index box. It contains all the links for the pages accessible in the site. 
     The navigation bar already has this, but for the purpose of the assignment this is included. -->
<div class="indexBox">
    <h2>Welcome to <%= appName %></h2>
    <p><a href="about"><span>About <%= appName %></span></a></p>
    <p><a href="search"><span>Search for posts/topics/users</span></a></p>
    <p><a href="list?itemType=Topics"><span>List Topics</span></a></p>
    <p><a href="list?itemType=Posts"><span>List Posts</span></a></p>
    <p><a href="list?itemType=Users"><span>List Users</span></a></p>
    <p><a href="add?itemType=Posts"><span>Add a post</span></a></p>
</div>

<!-- Passes the below content to the scripts variable in layout.ejs -->
<%- contentFor('scripts') %>
<script>
    appendToHeading('Homepage'); // Running the function I defined in layout.ejs
    // This function is able to be called here because the script for it was created before the scripts variable was placed on the layout
</script>