<!-- 
    Individual page used for the postadded page. 
    NOT REQUIRED to exist but done so I can pass the EJS layout into it
    So the user can navigate back with the navbar.
-->
<p>Your post has been added to the database. Details below:</p>
<ul>
    <li><strong>Post Creator (UserName):</strong> <%= user %></li>
    <li><strong>Post Topic (Name):</strong> <%= topic %></li>
    <li><strong>Post Title:</strong> <%= postTitle %></li>
    <li><strong>Post Body:</strong> <%= postBody %></li>
</ul>