<!-- 
    Individual page used for the registeredMsg page. 
    NOT REQUIRED to exist but done so I can pass the EJS layout into it
    So the user can navigate back with the navbar.
-->
<p> Hello <%= userName %>! you have been registered.</p>